.student-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    table {
        tr {
            text-align: left;
            height: 60px;
            td {
                width: 180px;
                span {
                    font-weight: bold;
                }
                input {
                    width: 300px;
                    padding: 10px 10px;
                    font-size: 14px;
                    border-radius: 6px;
                    border: 1px solid lightgray;
                }

                button {
                    margin-left: 12px;
                }

                .actions {
                    display: flex;
                    justify-content: space-between;
                    button {
                        width: fit-content;
                        margin-left: 0;
                        width: 100px;
                    }
                }
            }
        }
    }
}
